@{
    ViewData["Title"] = "Professor Dashboard";
}

<h2>Welcome, @ViewBag.UserName!</h2>

<h3>Options</h3>
<ul>
    <li>
        <a asp-action="CreateCourse" asp-controller="Professor">Create Course</a>
    </li>
</ul>
